
.Accordion_holder{
    height: 100%;
}



.Accordion{
    margin-top: 2rem;
    .accordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
     height: 100%;
     font-family: sans-serif;
     cursor: pointer;
     border-bottom: 1px solid rgba($color: green, $alpha: 0.1);
    
     h1{
         margin-left: 8px;
         font-size: 5px;
         font-family: sans-serif;
          text-transform: uppercase;
     }
    .x{
       margin-right: 3px; 
    }
  
}
.accordion-content{
  height: auto;
    display: none;
    margin-top: 1rem;
    overflow: hidden; 
   transition: all 100s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    p{
     line-height: 1.75 !important;
     font-size: 1.4vw;
     font-family: sans-serif;
    }
  }
  .AccordionChange{
    margin-top: 1rem;
    overflow: hidden;
    display: block;
    padding-left: 40px;
    transition: all 100s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    p{
     line-height: 1.75 !important;
     font-size: 16px;
     font-family: sans-serif;
    }
  }
}

