
@import '_reset';
main{
    display: grid ;
    grid-template-columns: 1fr 4fr 1fr;
    user-select: none
}
@import '_dashboardnav';
@import '_dashboard';
@import '_dashedprofile';
.course_curent{
    font-size: 4rem;
}

@import '_Coursebox';
.course_structure{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@import '_Accordion';